@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


#ellipseImage {
    background: url("../assets/images/Ellipse 1.png"), lightgray 100% / cover no-repeat;
    width: 30px;
    height: 30px;
    left: 131px;
    top: 5px;
    position: absolute;
    border-radius: 9999px;
}

#star {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    position: absolute;
    top: 15%;
    left: 15%;
    background: url("../assets/images/star 1.jpg"), lightgray 100% / cover no-repeat;
}

#starY {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    position: absolute;
    top: 15%;
    left: 15%;
    background: url("../assets/images/star yellow.jpg"), lightgray 100% / cover no-repeat;
}